@use "../variables/typography";
@use "../variables/colors";

body {
  font-family: typography.$font-primary;
  font-size: typography.$font-size;
  background-color: colors.$color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}
