@use "../variables/colors";
@use "../variables/typography";

.grid {
  border: 1px solid #fff;

  &__cell {
    min-width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;

    &--dead {
      color: colors.$color-secondary;
      background-color: colors.$color-primary;
    }

    &--alive {
      color: colors.$color-primary;
      background-color: colors.$color-secondary;
    }
  }
}
