@use "../variables/colors";

.world {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.dead {
  color: colors.$color-secondary;
  background-color: colors.$color-primary;
}

.alive {
  color: colors.$color-primary;
  background-color: colors.$color-secondary;
}
